a {
   background-color: aquamarine;
   color: #00B7FF;
}

li {
  list-style-type: none;
}

div {
   background-color: #d2f8d2;
}
h3 {
   color: rgb(0, 0, 0);
}

div #sidebar{
   color: aquamarine;
}

div #back{
   padding-right: 84%;
}

div #results{
   background-color: #d2f8d2;
}

div #credential{
   padding-left: 100px;
}

div #email{
   padding-left: 137px;
}

div #UserType{
   padding-left: 107px;
   padding-bottom: 55px;
}
